body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

header {
    background: #111;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #c6a75e;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #c6a75e;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5');
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 40px;
}

.hero-content button {
    padding: 12px 25px;
    margin-top: 20px;
    background: #c6a75e;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.section {
    padding: 80px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}

.dark {
    background: #111;
    color: white;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-card {
    background: #fff;
    color: #000;
    padding: 20px;
    margin: 15px;
    width: 220px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-box {
    background: #ddd;
    margin: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background: #000;
    color: #aaa;
    text-align: center;
    padding: 20px;
}